{% load static heroicons tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% tailwind_css %}
  <meta charset="UTF-8" />
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="w-screen h-screen flex bg-slate-100">
  <aside class="flex-none h-full w-14 bg-white py-10 flex flex-col items-center justify-between gap-4">
    <a href="" class=""></a>
    <nav class="grow flex flex-col items-center justify-start gap-2 w-full">
      <a href="{% url 'staff:index-view' %}" class="scale-75">{% heroicon_outline 'home' %}</a>
      <a href="{% url 'staff:post-view' %}" class="scale-75">{% heroicon_outline 'clipboard-document-list' %}</a>
    </nav>
    <a href="{% url 'account:logout-view' %}" class="scale-75 text-red-700">{% heroicon_outline 'arrow-left-start-on-rectangle' %}</a>
  </aside>
  <main
    class="h-screen w-full overflow-x-hidden overflow-y-auto grow flex flex-col bg-gradient-to-t from-transparent from-70% to-blue-200 to-30%">
    <header class="w-full flex flex-none h-10"></header>
    <div class="grow max-h-full p-8 flex flex-col gap-4 w-full relative">
      {% block body %}

      {% endblock %}
    </div>
  </main>
</body>
{% block script %}

{% endblock %}
</html>